body {
  background-color: #F7F3E9;
  color: #2C3E50;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
}

.header, .footer {
  background-color: #2C3E50;
  color: #F8F9FA;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  height: 15vh;
  font-size: 3rem;
}

.footer {
  height: 5vh;
  font-size: 1rem;
}

.add-ingredient-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.add-ingredient-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50vh;
  gap: 0.25rem;
}

.add-ingredient-label,
.list-headline {
  font-size: 1.5rem;
  font-weight: 500;
}

.add-ingredient-input {
  border: #BDC3C7;
  margin: 0.25rem 0;
}

.add-ingredient-input, 
.btn-primary,
.btn-secondary {
  border-radius: 0.5rem;
  padding: 0.625rem 1.25rem;
}

.btn-container {
  display: flex;
  flex-direction: column;
  width: 50vh;
  margin: 0 auto;
  gap: 0.25rem;
}

.btn-primary,
.btn-secondary {
  border: none;
  cursor: pointer;
  letter-spacing: 0.063rem;
  font-weight: 200;
  text-transform: uppercase;
}

.btn-primary {
  background-color: #E67E22;
}

.btn-secondary {
  background-color: #C0392B;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #D35400;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
  background-color: #A93226;
}

.ingredients-list {
  text-align: center;
  margin: 0.50rem 0;
}

.ingredients-ul {
  padding: 0.5rem;
}